@import "tailwindcss";

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; /* เปลี่ยนจาก #000 เป็น transparent */
}
